.container{
    width:100%;
    margin:auto;
    text-align:center;
}

.container > a > img {
    width:40%;
    height:500px;
    object-fit:cover;
    padding:10px;
}

.container > p{
    margin:0;
}
